numpy
matplotlib
pandas
mutagen
torch
torchvision
torchaudio
torchmetrics
torchinfo
librosa
seaborn
flask
gunicorn
miniaudio
soundfile

git+https://github.com/GeorgSchenzel/spotdj.git@00c2b3b6c4d285372f29c5af4382cee1280cad80